.wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	align-items: center;
	box-sizing: border-box;
}

.input {
	padding: 4px 8px;
	border: 1px solid gray;
	outline: none;
	border-radius: 4px;
	box-sizing: border-box;
	width: 180px;
}

.input:hover {
	border: 1px solid black;
}

.input:focus {
	border: 1px solid #1976d2;
}

.label {
	font-size: 16px;
	font-weight: bold;
}
