.wrapper {
	text-align: center;
}

.button {
	padding: 8px 16px;
	border-radius: 4px;
	border: none;
	font-weight: bold;
	outline: none;
	color: #fff;
	background-color: #1976d2;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
		0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.button:hover {
	background-color: rgb(17, 82, 147);
}

.button:disabled {
	color: rgba(0, 0, 0, 0.26);
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.12);
}
