form {
	width: 300px;
	padding: 20px;
	border: none;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 4px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%),
		0px 1px 8px 0px rgb(0 0 0 / 12%);
}
